---
import HeaderLink from './HeaderLink.astro';
import { SITE_BASE, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import titleImage from '../assets/title.svg';
---

<header class="w-full">
  <nav class="flex flex-col lg:flex-row justify-between gap-15">
    <div class="flex justify-center w-full">
      <h1 class="hidden">{SITE_TITLE}</h1>
      <Image alt={SITE_TITLE} src={titleImage} />
    </div>
    <div class="flex items-center gap-15 justify-end">
      <h2 class="text-center">Building Tantos</h2>
      <HeaderLink href={`/${SITE_BASE}/about`}>About</HeaderLink>
      <HeaderLink href={`/${SITE_BASE}/`}>Posts</HeaderLink>
    </div>
  </nav>
</header>
